.header {
    position: absolute;
    width: 100%;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    };
    &__logo {
        margin: 25px 0px 0px 34px;
        img {
            width: 305px;
            height: 88px;
        };
    };

    .hamburger {
        display: none
    };

    &__navigation {
        display: flex;
        justify-content: space-between;
        padding: 0px 68px;
        height: 70px;
        width: 700px;
        background-color: #DAD2B9;;
        box-shadow: 0px 7px 4px;
    };
    &__links {
        color: #000;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        padding: 16px 18px 40px 18px;
        &:hover {
            color: #000;
            text-decoration: none;
            background-color: #EBE6D7;;
            transform: translateY(6px);
        };
    };

    &__tels {
        margin: 25px 34px 0px 0px;
        width: 308px;
    };
    &__tel {
        color: #fff;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px; 
        &:hover {
            color: #fff;
            text-decoration: none;
        };
    };
};